.section-title{
  padding-top: 140px;
  padding-left: 15px;
  text-align: center;
  width: 328px;
  height: 80px;
  font-family: 'Nunito',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
}
